
<!--Esta es la vista de la pantalla principal de la aplicacion   -->
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Bar</h1>
            <h3 class="mb-5">
                <em>Bienvenido a la aplicacion de control de inventario</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Entrar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>